:root {
  --color-lightgray: #F2F2F2;
  --color-lightblue: #C4D4F2;
  --font-main: 'LeferiPoint-WhiteObliqueA';
}

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

.invisible {
  display: none;
}

/* home calendar */
.homeBody {
  display: flex;
}

.calendar {
  flex-grow: 1;
}

p {
  font-family: var(--font-main);
  font-weight: bold;
}

.calendar p {
  font-size: 3.4rem;
}

.todolist {
  flex-grow: 2;
}

.calendarMain {
  width: 490px;
}

.calendarHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.today {
  font-family: var(--font-main);
  font-size: 1.8rem;
}

.headerbtnWrap {
  margin-left: 280px;
}

.headerbtnWrap button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.days {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5%;
}

.days span {
  width: calc(100% / 7);
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--font-main);
  font-size: 1.8rem;
}

.date {
  display: flex;
  flex-flow: row wrap;
}

.date li {
  width: calc(100% / 7);
  height: 65px;
  list-style: none;
  display: flex;
  justify-content: center;
  font-family: var(--font-main);
  font-size: 1.8rem;
}

.dateHighlighting {
  border: 3px solid var(--color-lightblue);
  height: 30%;
  border-radius: 15px;
  /* text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-position: under;
  text-decoration-color: var(--color-lightblue); */

}

/* home todolist */
.todolist p {
  font-size: 3.4rem;
}

.listAddBtn {
  border-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 50px;
  font-size: 3.0rem;
}

.todolistInput {
  border-style: none;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  margin-right: 20px;
}

.todolistMain {
  padding-left: 0;
}

.todolistMain li {
  font-size: 1.8rem;
  font-family: var(--font-main);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.btnCheck {
  cursor: pointer;
  border-style: none;
  border-radius: 40%;
  width: 18px;
  height: 18px;
  margin-right: 13px;
}

.btnCheckAfter {
  background-color: var(--color-lightblue);
}

.spanCheckAfter {
  text-decoration: line-through;
  text-decoration-color: rgb(134, 134, 134);
  text-decoration-thickness: 3px;
  color: rgb(134, 134, 134);
  font-size: 1.5rem;
}

.btnRemove {
  font-family: var(--font-main);
  cursor: pointer;
  color: white;
  background-color: rgb(191, 191, 191);
  font-weight: bold;
  margin-left: auto;
  border-style: none;
  border-radius: 2px;
}